.heading-xl {
	font-size: 7rem;
	font-weight: 400;
	line-height: 9.4rem;
}
.heading-l {
	font-size: 3.6rem;
	font-weight: 500;
}
.heading-m {
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 0.06em;
	line-height: 3.4rem;
}
.heading-s {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.06em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-jost;
	text-transform: uppercase;
}

.body-xl {
	font-size: 3.2rem;
	font-weight: 300;
	line-height: 4.6rem;
	letter-spacing: 0.02em;
}
.body-l {
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
}
.body-m {
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0.03em;
}
.body-s {
	font-size: 14px;
	font-weight: 300;
}
