.heading-xl {
	font-size: 8.3rem;
	font-weight: 400;
	line-height: 9.4rem;
}
.heading-l {
	font-size: 3.6rem;
	font-weight: 500;
}
.heading-m {
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 0.06em;
	line-height: 3.4rem;
}
.heading-s {
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 0.06em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-jost;
	text-transform: uppercase;
}

.body-xl {
	font-size: 3.2rem;
	font-weight: 300;
	line-height: 4.6rem;
	letter-spacing: 0.02em;

	@include media($large-desktop, min) {
		font-size: 3.6rem;
	}
	@include media($tab-port) {
		font-size: 2.2rem;
	}
}
.body-l {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3.6rem;
}
.body-m {
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 2.2rem;
	letter-spacing: 0.03em;
}
.body-s {
	font-size: 1.4rem;
	font-weight: 300;
}
