.heading-xl {
	@include text(8.3rem, 400, 9.4rem);
}
.heading-l {
	@include text(3.6rem, 500);
}
.heading-m {
	@include text(3rem, 400, 3.4rem, null, 0.06em);
}
.heading-s {
	@extend .heading-m;
	font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-jost;
	text-transform: uppercase;
}

.body-xl {
	@include text(3.2rem, 300, 4.6rem, null, 0.02em);
}
.body-l {
	@include text(18px, 400, 36px);
}
.body-m {
	@include text(16px, 300, 22px, null, 0.03em);
}
.body-s {
	@include text(14px, 300);
}
