@keyframes appear {
	from {
		@include hidden(0, -10rem);
	}
	to {
		@include visible;
	}
}
@keyframes appear-bottom {
	from {
		@include hidden(0, 3rem);
	}
	to {
		@include visible;
	}
}
@keyframes appear-left {
	from {
		@include hidden(-70%);
	}
	to {
		@include visible;
	}
}
@keyframes appear-right {
	from {
		@include hidden(70%);
	}
	to {
		@include visible;
	}
}
@keyframes slide-left {
	0% {
		@include hidden(-10rem);
	}
	80% {
		transform: translateX(3rem);
	}
	100% {
		@include visible;
	}
}
@keyframes slide-right {
	0% {
		@include hidden(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		@include visible;
	}
}
@keyframes slide-bottom {
	0% {
		@include hidden(0, 3rem);
	}
	80% {
		transform: translateY(-0.5rem);
	}
	100% {
		@include visible;
	}
}
