.button {
	@include text(14px, 500, null, uppercase, 2px);
	font-family: $font-lato;
	padding: 16px 50px;
	color: #fff;
	transition: {
		property: color, background-color, transform, box-shadow;
		duration: 0.5s;
	}
	&:hover {
		transform: translateY(-8px);
	}
	&:active {
		transform: translateY(-3px);
	}
}
.primary-button {
	@extend .button;
	background-color: $color-primary;
	&:hover {
		color: $color-primary;
		background-color: rgba($color-primary, 0.2);
		box-shadow: 0px 0px 15px 3px rgba($color-primary, 0.2);
	}
}
.secondary-button {
	@extend .button;
	@include text(16px, 400, 1.9rem, null, 0.05em);
	font-family: $font-poppins;
	box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.6);
	background-color: $color-secondary;
	letter-spacing: 0.05em;
	&:hover {
		box-shadow: 0px 10px 30px 0px rgba($color-secondary, 0.6);
	}
}
.blue-button {
	@extend .button;
	background-color: $color-blue;
	&:hover {
		color: $color-blue;
		background-color: rgba($color-blue, 0.2);
		box-shadow: 0px 0px 15px 3px rgba($color-blue, 0.2);
	}
}
.router__link {
	color: currentColor;
	text-decoration: none;

	&--active {
		color: $color-secondary !important;
	}
}
