.button {
	font-family: $font-lato;
	padding: 1.6rem 5rem;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 2px;
	transition: {
		property: color, background-color, transform, box-shadow;
		duration: 0.5s;
	}
	&:hover {
		transform: translateY(-8px);
	}
	&:active {
		transform: translateY(-3px);
	}
}
.primary-button {
	@extend .button;
	background-color: $color-primary;
	&:hover {
		color: $color-primary;
		background-color: rgba($color-primary, 0.2);
		box-shadow: 0px 0px 15px 3px rgba($color-primary, 0.2);
	}
}
.secondary-button {
	@extend .button;
	box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.6);
	border-radius: 3rem;
	background-color: $color-secondary;
	font-family: $font-fira;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.9rem;
	letter-spacing: 0.05em;
}
.blue-button {
	@extend .button;
	background-color: $color-blue;
	&:hover {
		color: $color-blue;
		background-color: rgba($color-blue, 0.2);
		box-shadow: 0px 0px 15px 3px rgba($color-blue, 0.2);
	}
}
.router__link {
	color: currentColor;
	text-decoration: none;

	&--active {
		color: $color-secondary !important;
	}
}
